*{
    color: black;
}

body{
    margin: 0%;

}

nav{
    background-color: #ABBEB3;
    height: 100px;
    display: flex;
    gap: 20px;
    align-items: center;
    div{
        width: 100%;
    }
    .menu{
        margin-left: 100px;
        display: flex;
        text-align: center;
        text-decoration: solid;
        a{
            line-height: 1.5;
            display: inline-block;
            width: 200px; 
            text-decoration: none;
        }

        div{
            line-height: 100px;
            height: 100px;
        }

        div:hover{
            background-color: #2D6A4A;
        }
    }
    img{
        padding-left: 100px;
        width: 90px;
    }
    .login{
        padding-right: 100px;
        text-align: right;
        font-weight: bold;
        a{
            color: #2D6A4A;
            text-decoration: solid;
        }
    }
}


#dashboard{
    img{
        width: 65%;
        align-content: center;
    }
    h1{
        color: black;
        text-align: center;
    }
}


#berita{
    align-content: center;
    width: 90%;
    margin-left: 50px;
}

.artikel{
    display: grid;
    gap: 10px;
    grid-template-columns: 300px auto;
    grid-template-rows: auto 90%;
    .grid-item{
        margin-top: 0px;
    }
    img{
        width: 100%;
    }
    a{
        color: blue;
    }
    a:hover{
        color: black;
    }
}
.item1{
    grid-column: 1;
    grid-row: 1/span 2;
}
.item2{
    font-size: large;
    font-weight: bold;
    grid-column: 2;
    grid-row: 1;
}




